<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Food</title>
<!--/tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script>
	addEventListener("load", function() {
		setTimeout(hideURLbar, 0);
	}, false);

	function hideURLbar() {
		window.scrollTo(0, 1);
	}
</script>
<!--//tags -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"
	media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.css" rel="stylesheet">
<!--pop-up-box-->
<link href="css/popuo-box.css" rel="stylesheet" type="text/css"
	media="all" />
<!--//pop-up-box-->
<!-- price range -->
<link rel="stylesheet" type="text/css" href="css/jquery-ui1.css">
<!-- fonts -->
<link
	href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800"
	rel="stylesheet">
</head>
<body>
	<!-- top-header -->
	<div class="header-most-top">
		<p>Order whatever make you Smile &#128523;</p>
	</div>
	<!-- //top-header -->
	<!-- header-bot-->
	<div class="header-bot">
		<div class="header-bot_inner_wthreeinfo_header_mid">
			<!-- header-bot-->
			<div class="col-md-4 logo_agile">
				<h1>
					<a href="index.html"> <img src="images/logo.png" alt="Logo ">
					</a>
				</h1>

			</div>
			<div class="col-md-4 logo_agile">
				<h1>
					<a> <span>R</span>estaurant&nbsp; <span>O</span>wner&nbsp; <span>H</span>ome
					</a>
				</h1>
			</div>
			<!-- header-bot -->

			<!-- //cart details -->
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
	<!-- navigation -->
	<div class="ban-top">
		<div class="container">
			<div class="top_nav_left">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="collapse navbar-collapse menu--shylock"
							id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav menu__list">
								<li class="active"><a class="nav-stylehead"
									href="restaurantOwnerHome.html">Home <span class="sr-only">(current)</span>
								</a></li>
								
								<li class=""><a class="nav-stylehead"
									th:href="@{/add}">Add Category</a></li>
								<li class=""><a class="nav-stylehead"
									th:href="@{/categories}">Category List</a></li>
								<li class=""><a class="nav-stylehead" th:href="@{/addFood}">Add
										Food</a></li>
								<li class=""><a class="nav-stylehead" th:href="@{/foodProducts}">Food
										List</a></li>
								<li class=""><a class="nav-stylehead"
									href="foodOrderList.html">Food Order List</a></li>
								<li class=""><a class="nav-stylehead"
									href="dessertOrderList.html">Dessert Order List</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
	<br>
	<!-- //navigation -->
	<div class="column">
		<img src="images/food1.jpg" alt="Dessert" style="width: 100%">
	</div>
	<div class="container">
		<h2>Add Food</h2>
		<br>
		<form th:action="@{/addFood}" method="post" th:object="${productDTO}"
			enctype="multipart/form-data">
			<div class="row">
				<div class="col-sm-5">


					<input type="hidden" name="id" th:field="*{id}">
					<div class="form-group">
						<label for="name">Food Name</label> <input type="text"
							class="form-control" required th:field="*{name}" name="name"
							id="name" placeholder="Enter name">

					</div>
					<div class="form-group">
						<label for="category">Select Category</label> 
						<select	class="form-control" th:field="*{categoryId}" id="category"	name="category">
							<option th:each="category :${categories}" th:value="${category.id}" th:text="${category.name}">
						</select>
					</div>


					<div class="form-group">
						<label for="price">Enter Price</label> <input type="number"
							class="form-control" required th:field="*{price}" name="price"
							id="price" placeholder="Enter Price">
					</div>
					<div class="form-group">
						<label for="description">Product Description</label>
						<textarea class="form-control" rows="5" th:field="*{description}"
							name="description" id="description"></textarea>
					</div>

					<div class="col-sm-5">
						<p>
							<b>Food Image</b>
						</p>
						<br>
						<div class="custom-file">
							<input type="file" class="custom-file-input" name="foodImage"
								accept="image/jpeg, image/png" id="foodImage" /> <label
								class="custom-file-label" for="foodImage">Choose file</label>
						</div>
						<div class="form-group">
							<img src="#" id="imgPreview" height="100px" width="100px"
								th:src="@{${'/productimages/' + productDTO.imageName}}"
								style="margin-top: 20px" alt=" ">
						</div>
						<input type="hidden" name="imgName"
							th:value="${productDTO.imageName}">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<script>
    function readURL(input){
        if(input.files && input.files[0]){
            var reader = new FileReader();
            reader.onload = function(e){
                $('#imgPreview').attr('src', e.target.result).width(100).height(100);
            }
            reader.readAsDataURL(input.files[0])
        }
    }
    $('#productImage').change(function(){
        readURL(this);
    });
    $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
	<br>
	<br>
	<!-- footer section -->
	<div class="container">
	<div class="w3l-grids-footer">
		<div class="col-xs-4 offer-footer">
			<div class="col-xs-4 icon-fot">
				<span class="fa fa-map-marker" aria-hidden="true"></span>
			</div>
			<div class="col-xs-8 text-form-footer">
				<h3>Track Your Order</h3>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-xs-4 offer-footer">
			<div class="col-xs-4 icon-fot">
				<span class="fa fa-refresh" aria-hidden="true"></span>
			</div>
			<div class="col-xs-8 text-form-footer">
				<h3>Free & Easy Returns</h3>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-xs-4 offer-footer">
			<div class="col-xs-4 icon-fot">
				<span class="fa fa-times" aria-hidden="true"></span>
			</div>
			<div class="col-xs-8 text-form-footer">
				<h3>Online cancellation</h3>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="copy-right">
		<div class="container">
			<p>
				© 2021 Foodify. All rights reserved | Design by <a href="">
					Foodie Team.</a>
			</p>
		</div>
	</div>
	</div> 
	<!-- //footer section -->
	
</body>
</html>