<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Foodify</title>
	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/font-awesome.css" rel="stylesheet">
	<!--pop-up-box-->
	<link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
	<!--//pop-up-box-->
	<!-- price range -->
	<link rel="stylesheet" type="text/css" href="css/jquery-ui1.css">
	<!-- fonts -->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>
<body>
    <!-- top-header -->
	<div class="header-most-top">
		<p>Order whatever make you Smile &#128523;</p>
	</div>
	<!-- //top-header -->
	<!-- header-bot-->
	<div class="header-bot">
		<div class="header-bot_inner_wthreeinfo_header_mid">
			<!-- header-bot-->
			<div class="col-md-4 logo_agile">
				<h1>
					<a href="index.html">
						<img src="images/logo.png" alt="Logo ">				
					</a>                 
				</h1>
               
			</div>
            <div class="col-md-4 logo_agile">
                 <h1>
                     <a>
                         <span>A</span>dmin&nbsp;<span>H</span>ome
                    </a>
                </h1>
            </div>
			<!-- header-bot -->
			
				<!-- //cart details -->
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
	</div>
	<!-- navigation -->
	<div class="ban-top">
		<div class="container">
			<div class="top_nav_left">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav menu__list">
								<li class="active">
									<a class="nav-stylehead" href="adminHome.html">Home
										<span class="sr-only">(current)</span>
									</a>
								</li>
								<li class="">
									<a class="nav-stylehead" href="about.html">About Us</a>
								</li>
								<li class="">
									<a class="nav-stylehead" href="addOwner.html">Add Restaurant Owner</a>
								</li>
								<li class="">
									<a class="nav-stylehead" href="ownerList.html">Restaurant Owner List</a>
								</li>
								<li class="">
									<a class="nav-stylehead" href="addRestaurant.html">Add Restaurant</a>
								</li>
								<li class="">
									<a class="nav-stylehead" href="restaurantList.html">Restaurant List</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
	<!-- //navigation -->
	<div class="container">

        <a th:href="@{/admin/addOwner}" style="margin: 20px 0" class="btn btn-primary">Add Restaurant Details</a>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">SN</th>
                <th scope="col">Restaurant Name</th>
                <th scope="col">Mobile Number</th>
                <th scope="col">City</th>
                <th scope="col">Address</th>
                <th scope="col">Rating</th>
                <th scope="col">image</th>
                <th scope="col">Delete</th>
                <th scope="col">Update</th>
            </tr>
            </thead>
            <tbody>
    
            <tr th:each="product, iStat : ${products}">
                <th scope="row" th:text="${iStat.index + 1}">1</th>
                <td th:text="${product.restaurantName}">Larry</td>
                <td th:text="${product.mobile}">Larry</td>
                <td th:text="${product.city}">Larry</td>
                <td th:text="${product.address}">Larry</td>
                <td th:text="${product.rating}">Larry</td>
            
                
                <td><img src="" height="100px" width="100px"  th:src="@{${'/productImages/' + product.imageName}}"></td>
    
                <td><a href="" th:href="@{/admin/product/delete/{id}(id=${product.id})}" class="btn btn-danger">Delete</a></td>
                <td><a href="" th:href="@{/admin/product/update/{id}(id=${product.id})}" class="btn btn-warning">Update</a></td>
    
            </tr>
            </tbody>
        </table>
    </div>

	<!-- footer section -->
    <div class="container">
	<div class="w3l-grids-footer">
		<div class="col-xs-4 offer-footer">
			<div class="col-xs-4 icon-fot">
				<span class="fa fa-map-marker" aria-hidden="true"></span>
			</div>
			<div class="col-xs-8 text-form-footer">
				<h3>Track Your Order</h3>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-xs-4 offer-footer">
			<div class="col-xs-4 icon-fot">
				<span class="fa fa-refresh" aria-hidden="true"></span>
			</div>
			<div class="col-xs-8 text-form-footer">
				<h3>Free & Easy Returns</h3>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-xs-4 offer-footer">
			<div class="col-xs-4 icon-fot">
				<span class="fa fa-times" aria-hidden="true"></span>
			</div>
			<div class="col-xs-8 text-form-footer">
				<h3>Online cancellation </h3>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="copy-right">
		<div class="container">
			<p>© 2021 Foodify. All rights reserved | Design by
				<a href=""> Foodie Team.</a>
			</p>
		</div>
	</div>
    </div>
	<!-- //footer section -->
</body>
</html>